
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/LayoutUser.cshtml";
}

@using FlowerShop2.Models

<div class="title"><span class="title_icon"><img src="@Url.Content("~/Content/User/")images/bullet1.gif" alt=""></span>My cart</div>
<div class="feat_prod_box_details">
  <table class="cart_table">
    <tbody>
      <tr class="cart_title">
        <td>Option</td>
        <td>Product name</td>
        <td>Unit price</td>
        <td>Qty</td>
        <td>Total</td>
      </tr>
      @{ int index = 0; }
      @foreach (var item in cart)
      {
        <tr>
          <td><a href="@Url.Action("Delete","Cart", new {id = index })">X</a></td>
          <td><a href="@Url.Action("Details","Product", new { id = item.product.id})"><img src="@Url.Content("~/Content/User/")images/@item.product.photo" alt="" class="cart_thumb" border="0" width="30" height="31"></a></td>
          <td>@item.product.name</td>
          <td>@item.product.price$</td>
          <td>@item.quantity</td>
          <td>@(item.product.price * item.quantity )$</td>
        </tr>
        index++;
      }
      <tr>
        <td colspan="5" class="cart_total"><span class="red">TOTAL:</span></td>
        <td>
          @{
            List<Item> cart = (List<Item>)Session["cart"];
            var s = cart.Sum(i => i.quantity * i.product.price);
          }

          @s$
        </td>
      </tr>
    </tbody>
  </table>
  <a href="@Url.Action("index","Home")" class="continue">&lt; continue</a>
  <a href="" class="checkout">checkout &gt;</a>
</div>
<div class="clear"></div>


