@{
    ViewBag.Title = "Home";
}

<div>
    <!-- #region Slider -->
    <div class="header_bottom">
        @{Html.RenderAction("HeaderBottomLeft", "Product");}
        @{Html.RenderAction("HeaderBottomRight", "Product");}
        <div class="clear"></div>
    </div>
    <!-- #endregion -->

    <div class="main">
        <div class="content">
            <!-- #region BEST SELLER PRODUCT Nav -->
            <div class="content_top">
                <div class="heading">
                    <h3>Feature Product</h3>
                </div>
                <div class="sort">
                    <p>Sort by: @Html.DropDownList("BestSellerSortBy", new SelectList(ViewBag.SortList, "Key", "Value"))</p>
                </div>
                <div class="show">
                    <p>Show: @Html.DropDownList("BestSellerShow", new SelectList(ViewBag.ShowList, "Key", "Key"))</p>
                </div>
                <div class="page-no">
                    <p>
                        Result Pages: <ul id="bestSellerPaging">
                            <li class="first">[<a>Previous</a>]</li>
                            <li class="firstPage"><a>1</a></li>
                            <li class="midPage"><a>2</a></li>
                            <li class="lastPage"><a>3</a></li>
                            <li class="last">[<a>Next</a>]</li>
                        </ul>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <!-- #endregion -->
            <!-- #region BEST SELLER PRODUCT List -->
            <div id="BestSeller">
                @*@{Html.RenderAction("ProductList", "Product");}*@
            </div>
            <!-- #endregion -->
            <!-- #region New Product Nav -->
            <div class="content_bottom">
                <div class="heading">
                    <h3>New Product</h3>
                </div>
                <div class="sort">
                    <p>
                        Sort by:
                        @Html.DropDownList("NewProSortBy", new SelectList(ViewBag.SortList, "Key", "Value"))
                    </p>
                </div>
                <div class="show">
                    <p>
                        Show:
                        @Html.DropDownList("NewProShow", new SelectList(ViewBag.ShowList, "Key", "Key"))
                    </p>
                </div>
                <div class="page-no">
                    <p>
                        Result Pages:<ul id="newProductsPaging">
                            <li class="first">[<a>First</a>]</li>
                            <li class="firstPage"><a>1</a></li>
                            <li class="midPage"><a>2</a></li>
                            <li class="lastPage"><a>3</a></li>
                            <li class="last">[<a>End</a>]</li>
                        </ul>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <!-- #endregion -->
            <!-- #region New Product List -->
            <div id="NewProducts">
                @*@{Html.RenderAction("ProductList", "Product");}*@
            </div>
            <!-- #endregion -->
        </div>

    </div>
</div>
<script type="text/javascript">
    // xử lý show paging
    // Panging on click
    // 1. Get current page
    // 2. Paging Animation

    $(document).ready(function () {
        var show = @ViewBag.Show;
        var sort = @ViewBag.Sort;
        var currentPage = parseInt(@ViewBag.CurrentPage);
        var bestSellerCurrentPage = currentPage;
        var newProductsCurrentPage = currentPage;

        $("#BestSeller").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show + '&currentPage=' + currentPage);
        $("#NewProducts").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show + '&currentPage=' + currentPage);

        if (bestSellerCurrentPage < 2) {
            $("#bestSellerPaging .first").hide();
            $("#bestSellerPaging .end").show();
        } else if (bestSellerCurrentPage > (5 - 2)) {
            $("#bestSellerPaging .first").show();
            $("#bestSellerPaging .end").hide();
        } else {
            $("#bestSellerPaging .first").show();
            $("#bestSellerPaging .end").show();
        }

        if (bestSellerCurrentPage == 1) {
            $("#bestSellerPaging .firstPage a").html(bestSellerCurrentPage);
            $("#bestSellerPaging .firstPage").addClass("active");
            $("#bestSellerPaging .midPage a").html(parseInt(bestSellerCurrentPage) + 1);
            $("#bestSellerPaging .lastPage a").html(bestSellerCurrentPage + 2);
        } else if (bestSellerCurrentPage == 5) {
            $("#bestSellerPaging .firstPage a").html(bestSellerCurrentPage - 2);
            $("#bestSellerPaging .midPage a").html(bestSellerCurrentPage - 1);
            $("#bestSellerPaging .lastPage a").html(bestSellerCurrentPage);
            $("#bestSellerPaging .lastPage").addClass("active");
        } else {
            $("#bestSellerPaging .onePage a").html(bestSellerCurrentPage - 1);
            $("#bestSellerPaging .midPage a").html(bestSellerCurrentPage);
            $("#bestSellerPaging .midPage").addClass("active");
            $("#bestSellerPaging .lastPage a").html(bestSellerCurrentPage + 1);
        }

        if (newProductsCurrentPage == 1) {
            $("#newProductsPaging .firstPage a").html(newProductsCurrentPage);
            $("#newProductsPaging .firstPage").addClass("active");
            $("#newProductsPaging .midPage a").html(newProductsCurrentPage + 1);
            $("#newProductsPaging .lastPage a").html(newProductsCurrentPage + 2);
        } else if (newProductsCurrentPage == 5) {
            $("#newProductsPaging .firstPage a").html(newProductsCurrentPage - 2);
            $("#newProductsPaging .midPage a").html(newProductsCurrentPage - 1);
            $("#newProductsPaging .lastPage a").html(newProductsCurrentPage);
            $("#newProductsPaging .lastPage").addClass("active");
        } else {
            $("#newProductsPaging .onePage a").html(newProductsCurrentPage - 1);
            $("#newProductsPaging .midPage a").html(newProductsCurrentPage);
            $("#newProductsPaging .midPage").addClass("active");
            $("#newProductsPaging .lastPage a").html(newProductsCurrentPage + 1);
        }

        // BestSeller
        $("#bestSellerPaging a").click(function () {
            event.preventDefault();
            if ($(this).parent().hasClass("end")) {
                newProductsCurrentPage++;
            } else if ($(this).hasClass("first")) {
                newProductsCurrentPage--;
                alert(newProductsCurrentPage);
            } else {
                newProductsCurrentPage = parseInt($(this).text());
            }

            if (bestSellerCurrentPage < 2) {
                $("#bestSellerPaging .first").hide();
                $("#bestSellerPaging .end").show();
            } else if (bestSellerCurrentPage > (5 - 2)) {
                $("#bestSellerPaging .first").show();
                $("#bestSellerPaging .end").hide();
            } else {
                $("#bestSellerPaging .first").show();
                $("#bestSellerPaging .end").show();
            }

            $("#bestSellerPaging li").removeClass("active");
            if (bestSellerCurrentPage == 1) {
                $("#bestSellerPaging .firstPage a").html(bestSellerCurrentPage);
                $("#bestSellerPaging .firstPage").addClass("active");
                $("#bestSellerPaging .midPage a").html(bestSellerCurrentPage + 1);
                $("#bestSellerPaging .lastPage a").html(bestSellerCurrentPage + 2);
            } else if (bestSellerCurrentPage == 5) {
                $("#bestSellerPaging .firstPage a").html(bestSellerCurrentPage - 2);
                $("#bestSellerPaging .midPage a").html(bestSellerCurrentPage - 1);
                $("#bestSellerPaging .lastPage a").html(bestSellerCurrentPage);
                $("#bestSellerPaging .lastPage").addClass("active");
            } else {
                $("#bestSellerPaging .firstPage a").html(bestSellerCurrentPage - 1);
                $("#bestSellerPaging .midPage a").html(bestSellerCurrentPage);
                $("#bestSellerPaging .midPage").addClass("active");
                $("#bestSellerPaging .lastPage a").html(bestSellerCurrentPage + 1);
            }
            $("#BestSeller").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show + '&currentPage=' + bestSellerCurrentPage);
        });
        $("#BestSellerShow").change(function () {
            show = $("#BestSellerShow").val();
            $("#BestSeller").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show /*+ '&currentPage=' + currentPage*/);
        });
        $("#BestSellerSortBy").change(function () {
            sort = $("#BestSellerSortBy").val();
            $("#BestSeller").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show /*+ '&currentPage=' + currentPage*/);
        });

        // NewProducts
        $("#newProductsPaging a").click(function () {
            event.preventDefault();
            if ($(this).parent().hasClass("end")) {
                newProductsCurrentPage++;
            } else if ($(this).parent().hasClass("end")) {
                newProductsCurrentPage--;
            } else {
                newProductsCurrentPage = parseInt($(this).text());
            }

            if (bestSellerCurrentPage < 2) {
                $("#bestSellerPaging .first").hide();
                $("#bestSellerPaging .end").show();
            } else if (bestSellerCurrentPage > (5 - 2)) {
                $("#bestSellerPaging .first").show();
                $("#bestSellerPaging .end").hide();
            } else {
                $("#bestSellerPaging .first").show();
                $("#bestSellerPaging .end").show();
            }

            $("#newProductsPaging li").removeClass("active");
            if (newProductsCurrentPage == 1) {
                $("#newProductsPaging .firstPage a").html(newProductsCurrentPage);
                $("#newProductsPaging .firstPage").addClass("active");
                $("#newProductsPaging .midPage a").html(newProductsCurrentPage + 1);
                $("#newProductsPaging .lastPage a").html(newProductsCurrentPage + 2);
            } else if (newProductsCurrentPage == 5) {
                $("#newProductsPaging .firstPage a").html(newProductsCurrentPage - 2);
                $("#newProductsPaging .midPage a").html(newProductsCurrentPage - 1);
                $("#newProductsPaging .lastPage a").html(newProductsCurrentPage);
                $("#newProductsPaging .lastPage").addClass("active");
            } else {
                $("#newProductsPaging .firstPage a").html(newProductsCurrentPage - 1);
                $("#newProductsPaging .midPage a").html(newProductsCurrentPage);
                $("#newProductsPaging .midPage").addClass("active");
                $("#newProductsPaging .lastPage a").html(newProductsCurrentPage + 1);
            }
            //alert(currentPage);
            $("#NewProducts").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show + '&currentPage=' + newProductsCurrentPage);
        });
        $("#NewProSortBy").change(function () {
            sort = $("#NewProSortBy").val();
            $("#NewProducts").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show /*+ '&currentPage=' + currentPage*/);
        });
        $("#NewProShow").change(function () {
            // var currentPage = ???
            show = $("#NewProShow").val();
            sort = $("#NewProSortBy").val();
            $("#NewProducts").load('@(Url.Action("ProductList", "Product", null, Request.Url.Scheme))?sort=' + sort + '&show=' + show /*+ '&currentPage=' + currentPage*/);
        });
    });

</script>
